<!DOCTYPE html>
<html>
<head>
    <title>Lung Disease Detection</title>
</head>
<body style="text-align:center; font-family:Arial;">

    <h1>🫁 Lung Disease Detection</h1>

    <form id="form">
        <input type="file" id="file" required><br><br>

        <select id="type">
            <option value="xray">X-ray</option>
            <option value="ct">CT Scan</option>
        </select><br><br>

        <button type="submit">Predict</button>
    </form>

    <h2 id="result"></h2>

    <script>
        document.getElementById("form").onsubmit = async (e) => {
            e.preventDefault();

            let file = document.getElementById("file").files[0];
            let type = document.getElementById("type").value;

            let formData = new FormData();
            formData.append("file", file);
            formData.append("image_type", type);

            let res = await fetch("/predict", {
                method: "POST",
                body: formData
            });

            let data = await res.json();

            document.getElementById("result").innerText =
                "Prediction: " + data.prediction + " (" + data.confidence + "%)";
        };
    </script>

</body>
</html>
